<div class="widget-body">
  <% journey = Journey.find(entry.journey_id) %>
  <p>From the Journey:</p>
  <p><%= link_to journey.title, journey %></p>
  <% if entry.state != entry.country %>
    <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= entry.state %>, <%= entry.country %></p>
  <% else %>
    <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= entry.country %></p>
  <% end %>
  <p><span class="glyphicon glyphicon-calendar"></span> <%= entry.created_at.strftime("%A, %B %d") %></p>
</div>
