<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Journey Id:</strong>
  <%= @entry.journey_id %>
</p>

<%= link_to 'Edit', edit_journey_entry_path %> |
<%= link_to 'Journey', journey_path(@entry.journey_id) %> | 
<%= link_to 'Root', root_path %>
