<div class="row">
  <%= render partial: 'layouts/title_bar',
    locals: {obj: @entry, owner: @owner, parent_object: @journey} %>
  <%= link_to 'Delete This Entry', journey_entry_path(@journey, @entry), 
    method: :delete, data: {confirm: "Are you sure you want to delete this entry?"}, 
    class: "btn btn-danger", 
    style: "margin-top: -40px; float: right; position: relative; z-index: 10;" %>
</div>

<div class="row entry-body">
  <div class="col-sm-12 col-lg-9">
    <%= @entry.body.html_safe %>
  </div>
  <div class="col-sm-12 col-lg-3">
    <%= render partial: 'entries/widget_entry_metadata',
      locals: {entry: @entry} %>
    <%= render partial: 'entries/widget_entry_map',
      locals: {entry: @entry, journey: @journey} %>
  </div>
</div>

<%= render 'shared/comment_area' %>
