<div class="row">
  <div class="col-xs-12 title-bar">
    <h1>Search</h1>
  </div>
  <%= render 'shared/search_form' %>

  <% unless @results.empty? %>
    <div class="col-xs-12">
      <p class="lead">Results for: "<%= params[:query] %>"</p>
      <% if not params[:date_lower_bound].blank? or not params[:date_upper_bound].blank? %>
      <ul>
        <% if not params[:date_lower_bound].blank? and not params[:date_upper_bound].blank? %>
          <li>Created between <%= params[:date_lower_bound].to_s %> and <%= params[:date_upper_bound].to_s %>
        <% else %>
        <% unless params[:date_lower_bound].blank? %>
          <li>Created before <%= params[:date_lower_bound].to_s %>
        <% end %>
        <% unless params[:date_upper_bound].blank? %>
          <li>Created after<%= params[:date_upper_bound].to_s %>
        <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>
  <% end %>
</div>


<div id="search_results" class="search_results row">
  <div class="col-xs-12">
  <% unless @results.empty? %>
    <% @results.each do |r| %>
      <% case r.class.name
      when "User" %>
        <h3><span class="fa fa-user"> <%= link_to r.username, r %></h3>
      <% when "Journey" %>
        <h3><%= link_to r.title, r%></h3>
        <% owner = User.find(r.user_id) %>
        <ul>
          <li><span class="fa fa-user fa-fw"></span> <%= link_to owner.username, owner %></li>
          <li><span class="fa fa-calendar fa-fw"></span>  <%= r.created_at.strftime("%A, %B #{r.created_at.day.ordinalize}, %Y at %H:%M %p") %></li>
        </ul>
      <% when "Entry" %>
        <% journey = Journey.find(r.journey_id) %>
        <% owner = User.find(r.user_id) %>
        <h3><%= link_to r.title, [journey, r] %></h3>
        <p>From the journey: <%= link_to journey.title, journey %></p>
        <ul>
          <li><span class="fa fa-user fa-fw"></span> <%= link_to owner.username, owner %></li>
          <li><span class="fa fa-calendar fa-fw"></span>  <%= r.created_at.strftime("%A, %B #{r.created_at.day.ordinalize}, %Y at %H:%M %p") %></li>
        </ul>
      <% end %>
    <% end %>
  <% else %>
    <h3>No results</h3>
  <% end %>
  </div>
</div>
