<p id="notice"><%= notice %></p>

<h2><%= @user.email %></h2>

<h3>Map</h3>
<div id="map-canvas"></div>


<h3>Journeys</h3>
<p><%= link_to 'Add Journey', new_journey_path, class: "btn btn-success" %></p>
<div class="journey_list">
<% Journey.where(user_id: @user.id).each do |journey| %>
    <%= render partial: 'layouts/journey_list_item', locals: {journey: journey} %>
<% end %>
</div>

<div class="col-xs-12">
  <h3>Following these Journeys</h3>
  <ul>
    <%= @user.following_by_type('Journey').each do |f|  %>
      <li><%= link_to f.title, f %></li>
    <% end %>
  </ul>
</div>

<div class="col-xs-12">
  <h3>Following these Users</h3>
  <ul>
    <%= @user.following_by_type('User').each do |f|  %>
      <li><%= link_to f.email, f %>apple</li>
    <% end %>
  </ul>
</div>
