<div id="comment_form">
  <% if user_signed_in? %>
    <%= form_tag comments_path, remote: true do %>
      <%= label_tag :body, "Body:" %>
      <%= text_area_tag :body %>
      <%= hidden_field_tag :entry_id, @entry.id %>
      <%= hidden_field_tag :parent_comment_id %>
      <%= submit_tag "Post Comment" %>
    <% end %>
  <% else %>
    <p><%= link_to 'Sign In', new_user_session_path %> to add your voice!</p>
  <% end %>
</div>
