<%= form_tag "/search", method: "get", class: "nav-searchform" do %>
  <div class="col-xs-12 col-lg-6">
    <h4>Search for Journeys, Entries, and/or Users</h4>
    <div class="form-group">
      <%= label_tag :date_lower_bound, 'Keywords' %>
      <%= text_field_tag :query, nil, class: "form-control input-lg", placeholder: "Search" %>
    </div>

    <div class="form-group">
      <%= label_tag :date_lower_bound, 'Created before' %>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        <%= text_field_tag :date_lower_bound, nil, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :date_lower_bound, 'Created after' %>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        <%= text_field_tag :date_upper_bound, nil, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="form-group">
      <%= button_tag type: "submit", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-search"></span> Search
      <% end %>
    </div>
  </div>
<% end %>
