<p id="notice"><%= notice %></p>

<h1>Listing Journeys</h1>
<% @journeys.each do |journey| %>
    <h2><%= journey.title %></h2>
    <p><%= journey.body %></p>
    <hr />
    <ul>
        <li><%= link_to 'Show', journey %></li>
        <li><%= link_to 'Edit', edit_journey_path(journey) %></li>
        <li><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    <hr />
<% end %>

<br>

<%= link_to 'New Journey', new_journey_path %>
