<div id="map" class="special-home-map map"></div>
<% @featured_entries.each do |entry| %>
    <ul class="entry metadata" style="display: none;">
      <li class="location"><%= entry.latitude %>,<%= entry.longitude %></li>
      <li class="title"><%= entry.title %></li>
      <li class="url"><%= journey_entry_path(Journey.find(entry.journey_id), entry) %></li>
      <li class="author"><%= User.find(entry.user_id).username %></li>
      <li class="author_url"><%= user_path(entry.user_id) %></li>
      <li class="journey_url"><%= journey_path(entry.journey_id) %></li>
    </ul>
<% end %>
