<h1>Journeys</h1>
<h2>List of all Journeys for all users</h2>
<p><%= link_to 'New Journey', new_journey_path %></p>
<hr />

<div class="journey_list">
<% @journeys.each do |journey| %>
    <div class="journey">
        <h3 class="title journey_title"><%= link_to journey.title, journey%> <%= link_to '(Edit)', edit_journey_path(journey) %> <%= link_to '(Destroy)', journey, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
        <p class="description journey_description"><%= journey.description %></p>
        <ul>
            <% journey.entries.each do |entry| %>
                <li><%= link_to entry.title, journey_entry_path(journey, entry) %></li>
            <% end %>
            <% if journey.entries.count > 0 %>
                <li><%= link_to 'New Entry', new_journey_entry_path(journey) %></li>
            <% else %>
                <li><%= link_to 'No Entries. Add one?', new_journey_entry_path(journey) %></li>
            <% end  %>
        </ul>
    </div>
<% end %>
</div>

