<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @journey.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @journey.body %>
</p>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
