<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @journey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @journey.description %>
</p>

<ul>
    <% @journey.entries.each do |entry| %>
        <li><%= link_to entry.title, journey_entry_path(@journey, entry) %></li>
    <% end %>
</ul>

</div>

<%= link_to 'Edit', edit_journey_path %> |
<%= link_to 'Journey', journey_path %> | 
<%= link_to 'Root', root_path %>
